@import url(./__heading/results__heading.css);
@import url(./__container/results__container.css);
@import url(./__heading-link/results__heading-link.css);
@import url(./__heading-link-text/results__heading-link-text.css);
@import url(./__heading-arrow/results__heading-arrow.css);
@import url(./__cards/results__cards.css);
@import url(./__card/results__card.css);
@import url(./__card-image/results__card-image.css);
@import url(./__card-info/results__card-info.css);
@import url(./__card-date/results__card-date.css);
@import url(./__card-link/results__card-link.css);
@import url(./__card-title/results__card-title.css);
@import url(./__card-extract/results__card-extract.css);
@import url(./__card-source/results__card-source.css);
@import url(./__button/results__button.css);

.results {
    background: #F5F6F7;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 104px;
    padding-right: 104px;
}

@media screen and (max-width: 1420px) {
    .results {
        padding-left: 94px;
        padding-right: 94px;
    }
}

@media screen and (max-width: 1350px) {
    .results {
        padding-left: 84px;
        padding-right: 84px;
    }
}

@media screen and (max-width: 1200px) {
    .results {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media screen and (max-width: 1080px) {
    .results {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 970px) {
    .results {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 664px) {
    .results {
        padding-left: 16px;
        padding-right: 16px;
    }
}