.swiper-slide__content-mail {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #1A1B22;
    margin-top: 2px;
}


/* @media screen and (max-width: 769px) {
    .swiper-slide__content-mail {
    }
} */