.author__content {
    max-width: 1440px;
    width: calc(100% - 208px);
    margin: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 82px;
    margin-bottom: 80px;
}

@media screen and (max-width: 1186px) {
    .author__content {
        max-width: 768px;
        width: calc(100% - 80px);
        margin-top: 44px;
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 769px) {
    .author__content {
        margin-bottom: 46px;
    }
}

@media screen and (max-width: 664px) {
    .author__content {
        width: calc(100% - 32px);
        margin-top: 36px;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .author__content {
        margin-bottom: 26px;
        width: calc(100% - 28px);
    }
}
