.search__section-info {
    display: block;
    max-width: 546px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 32px;
    padding-right: 60px;
    margin-top: 0;
}