.footer__navigation-links {
    min-width: 406px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 970px) {
    .footer__navigation-links {
        min-width: 350px;
        padding-left: 0;
        margin: 0;
    }
}

@media screen and (max-width: 664px) {
    .footer__navigation-links {
        flex-direction: column;
        min-width: 152px;
    }
}