@import url(./__shadow-left/swiper-container__shadow-left.css);
@import url(./__shadow-right/swiper-container__shadow-right.css);

.swiper-container {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 769px) {
  .swiper-container {
    width: calc(100%-40px);
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .swiper-container {
    width: calc(100%-32px);
    margin: auto;
  }
}