.root__block-heading {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 72px;
    padding-bottom: 52px;
}