.swiper-button-next {
    width: 60px;
    height: 60px;
    cursor: url(../../images/lapka.svg), pointer;
}

@media screen and (max-width: 769px) {
    .swiper-button-next {
        display: none;
    }
}