@import url(./_page_main/header__link_page_main.css);
@import url(./_page_about/header__link_page_about.css);

.header__link {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #B6BCBF;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.header__link:hover {
    cursor: url(../../../images/lapka.svg), pointer;
}