@import url(./_page_about/author__info-text_page_about.css);
@import url(./_page_main/author__info-text_page_main.css);

.author__info-text {    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #1A1B22;

}