.results__card-link {    
    text-decoration: none;
    cursor: url(../../../images/lapka.svg), pointer;
    max-width: 400px;
}

.results__card-link:hover {
    box-shadow: 2px 2px 4px #D1D2D6;;    
    border-radius: 16px;
}