.swiper-pagination {
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 38px;
}

@media screen and (max-width: 769px) {
    .swiper-pagination {
        padding-top: 26px;
    }
}

@media screen and (max-width: 320px) {
    .swiper-pagination {
        padding-top: 8px;
    }
}