.search__section-heading {
    max-width: 608px;
    margin: auto;
    padding-top: 80px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
}