.root__block-link_screen_ipad {
    display: flex;
}

@media screen and (max-width: 769px) {
    .root__block-link_screen_ipad {
        max-width: 168px;
        max-height: 68px;
        flex-direction: column;
        align-items: flex-end;
    }
}

@media screen and (max-width: 320px) {
    .root__block-link_screen_ipad {
        display: none;
    }
}