.results__button {
    width: 288px;
    height: 64px;
    background: #FFF;
    border-radius: 80px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    border: none;
    margin-top: 64px;
    margin-bottom: 80px;
    outline: none;
}

.results__button:hover {
    background: #FFF;
    opacity: .9;
    cursor: url(../../../images/lapka.svg), pointer;
    border: none;
    outline: none;
}

.results__button:active {
    border: none;
    outline: none;
}